/** {
    border: 1px solid red;
}*/
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar li {
    list-style: none;
    padding: 0 10px;
}
.navbar a {
    text-decoration: none;
    color: #000;
}
.p-style-nav {
    font-family: Consolas, monospace;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.p-style {
    font-family: Consolas, monospace;
    font-size: 18px;
    font-weight: lighter;
    line-height: 28px;
}
.portfolio {
    position: relative;
    left: 50%;
    transform: translateX(-30%);
}
.h1-title-style {
    font-family: Superior title, 'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: 88px;
}
.h2-title-style{
    font-family: Superior title, 'Times New Roman', Times, serif;
    font-size: 2rem;
    font-weight: 600;
    line-height: 58px;
}
.fett{
    font-weight: 700;
}
.home-entrance {
    padding-bottom: 5rem;
    border-bottom: 1px solid black;
    width: 50%;
}
.airbnb {
    display: flex;
    margin-top: 10rem;
}
.aribnb-right img{
    height: 400px;
}
.airbnb-text {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}
.airbnb-text div {
    margin-inline: 1rem;
}
.portfolio-number-box{
    text-align: center;
}
.airbnb-title {
    border-right: 1px solid black;
    padding-right: 8rem;
    padding-bottom: 1rem;
    margin: 0;
}